.iblock {
	display: inline-block;
	vertical-align: middle;
}
.iblock--top {
	display: inline-block;
	vertical-align: top;
}
.iblock--bottom {
	display: inline-block;
	vertical-align: bottom;
}

.itable {
	display: table-row;
}
.icell {
	display: table-cell;
	vertical-align: middle;
}
.text-center {
	text-align: center;
}