$color-blue: #00ABF0;
$color-light-blue: #31bef3;
$color-dark-blue: #0079c0;
$color-gray: #a5a5a5;
$color-light-gray: #dbdbdb;
$color-red: rgb(255, 85, 0);

$sizeXS: 479px;
$sizeSM: 767px;
$sizeMD: 1023px;

@mixin respond-to($size) {
	@media screen and (max-width: $size) { @content }
}

