@import '_variables';
@import '_typo';
@import '_helpers';

body {
	background: $color-light-gray;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.container {
	margin: 0 auto;
}
.row {
	position: relative;
}
.row:after {
	content: '';
	display: block;
	clear: both
}
.pull-left {
	float: left;
}
.pull-right	{
	float: right;
}
.clearfix {
	clear: both
}



.wrap {
	background: #fff;
	width: 940px;
}

.inner {
	margin: 0 80px;
	padding: 0 80px;
	&--small {
		padding: 0;
		margin: 0 80px;
	}
}

.header {
	padding-top: 45px;
	padding-bottom: 35px;
}
.header__logo {
	float: left;
	margin-right: 20px;
	width: 122px;
	height: 66px;
}
.header__logo img {
	width: 100%;
}
.header__desc {
	margin-top: 8px;
}
.header__title {
	font-size: 22px;
	line-height: 1.2em;
}
.header__phone {
	color: $color-gray;
	font-size: 16px;
}
.header__phone span {
	font-size: 18px;
}


.main {
	font-size: 17px;
	line-height: 1.4em;
}
.main a {
	color: $color-blue;
}
.main img {
	max-width: 100%;
	margin: 0 0 10px;
}
.img__desc {
	color: $color-gray;
	font-size: 14px;
}
.separator-line {
	display: block;
	margin: 0 0 20px 0;
	height: 1px;
	border: 0;
	background: $color-light-gray;
}
.toplist {
	margin: 50px 0;
}
.text-large {
	font-size: 20px;
}
.text-bold {
	font-weight: 700;
}
.text-extrabold {
	font-weight: 800;	
}
.text-light {
	font-weight: 300;
}

.tabs {
}
.tabs__nav {
	border-bottom: 2px solid;
	color: $color-blue;
	margin-bottom: 40px;
}

.tabs__nav:after {
	content: '';
	display: block;
	clear: both;
}
.tabs__nav__item {
	border: 2px solid;
	border-width: 0 0 2px 0;
	float: left;
	display: block;
	box-sizing: border-box;
}
.tabs__nav__item.active {
	border-width: 2px 2px 0 2px;
}
.tabs__nav__item__inner {
	background: #fff;
	padding: 20px 30px;
	margin-bottom: -2px;
	color: $color-gray;
	text-align: center;
	display: block;
}
a .tabs__nav__item__inner{
	color: #000
}
a:hover .tabs__nav__item__inner{
	color: $color-blue
}

.tabs__nav__item.active .tabs__nav__item__inner {
	color: $color-blue;
	padding-top: 18px;
	padding-bottom: 22px;
}

.tabs__content__tab {
	display: none;
}
.tabs__content__tab.active {
	display: block;
}

.tabs--half .tabs__nav {
	margin-bottom: 28px;
	font-size: 20px;
}
.tabs--half .tabs__nav__item{
	width: 50%;
}
.tabs--half .tabs__nav__item__inner {
	padding: 20px 3px;
}




.rating-table {
	margin-bottom: 50px;
}

.rating-table__cells {
	width: 100%;
}
.rating-table__cells td {
	padding: 8px 7px;
}
.rating-table__body td {
	padding: 10px 7px 4px; 
}
.rating-table__header {
	background: $color-blue;
	color: #fff;
}

.rating-table__header .rating-table__scores {
	width: inherit;
	color: #fff;
}
td.rating-table__num {
	width: 12px;
	padding-left: 0
}
.rating-table__person {
	
}
.rating-table__scores {
	text-align: right;
	width: 80px;
	color: $color-blue
}


.hero-block {
	background: $color-blue;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 28px;
	line-height: normal;
}
.hero-block p {
	margin: 0;
}




.feature {
	position: relative;
	background: url(../img/palace-black.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 400px;
}
.feature__inner {
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}
.hero-block--feature {
	background: rgba(0,151,239, 0.8);
}


.request-form {
}
.request-form__title {
	font-size: 22px;
}
.request-form__input {
	width: 100%;
	outline: 0;
	border: 1px solid $color-gray;
	margin-bottom: 20px;
	padding: 21px 32px;
	font-size: 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #282828;
}
.request-form__input--send {
	color: #fff;
	border: 0 !important;
}
.request-form__input--half {
	width: 300px;
	float: left;
	margin-right: 20px;
}
.request-form__input--half:last-child {
	margin-right: 0
}
.request-form__input:focus {
	box-shadow: 0 0 4px rgba(0, 171, 240, 0.5);
	-webkit-border: 1px solid $color-blue;
	-moz-border: 1px solid $color-blue;
	-ms-border: 1px solid $color-blue;
	border: 1px solid $color-blue;
}
.request-form__input.error {
	border: 1px solid #ff5500;
	-webkit-box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
	-moz-box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
	-ms-box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
	box-shadow: 0 0 4px rgba(255, 85, 0, 0.5);
}
.request-form__notify label {
	margin: -15px auto 20px;
	color: $color-red;
	font-size: 14px;
	display: block;
}



.b-block {
	background: #f2fafe;
	padding-top: 40px;
	padding-bottom: 30px;	
	margin-bottom: 60px;
	font-size: 22px;

}
.b-block p:last-child {
	margin-bottom: 10px;
}


.btn,
a.btn {
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #fff;
	background: $color-blue;
	font-weight: 700;
	text-align: center;
	padding: 21px 32px;
	border: 0;
	-webkit-transition: .2s background;
	-moz-transition: .2s background;
	-ms-transition: .2s background;
	transition: .2s background;
	margin-bottom: 20px;
	&--small {
		padding: 8px 40px;
	}
}
.btn--large,
a.btn--large {
	display: block;
}
a.btn:hover {
	background: $color-dark-blue
}

.footer {
	margin-top: 50px;
	padding: 0;
	color: $color-gray;
	font-size: 13px;
	border-top: 1px solid $color-light-gray;
	padding-top: 30px; 
	overflow: hidden;
} 

.footer__logo {
	float: left;
	width: 18%;
	margin-right: 6%;
}
.footer__info {
	float: left;
	width: 76%;
}
.ibox--half {
	width: 300px;
	float: left;
	padding-right: 20px;
}
.ibox--half:last-child {
	padding-right: 0
}


@media (max-width: 959px) {
	.wrap {
		width: auto;
	}
	.request-form__input--half {
		width: 100%;
	}
	.ibox {
		float: inherit;
		display: block;
		width: inherit;
		padding: 0;
	}
}

@media (max-width: 767px) {
	
	.inner {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.request-form__input--half {
		width: 100%;
	}
	
}

@media (max-width: 479px) {
	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.header__logo {
		width: 70px;
		margin-top: 10px
	}
	.header__phone,
	.header__title {
		font-size: 16px;
	}
}


$ribbonOffset: 30px;
.ribbon {
	position: relative;
	margin-left: -$ribbonOffset;
	margin-bottom: $ribbonOffset;
	padding: $ribbonOffset 0 $ribbonOffset $ribbonOffset;
	box-sizing: border-box;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 0;
		height: 0;
		border: 15px solid #000;
		border-width: 0 30px 30px 0 ; 
		border-color: rgba(0,0,0,0)  #000 rgba(0,0,0,0) rgba(0,0,0,0);
	} 
	&--blue {
		color: #fff;
		background: $color-blue;
		&:before {
			border-color: rgba(0,0,0,0)  #006B96 rgba(0,0,0,0) rgba(0,0,0,0);
		}
	}
}

.face-block {
	background: #fff;
	.face-block__header {
		position: relative;
		overflow: hidden;
		margin-bottom: 2em;
		&__title {
			font-size: 38px;
			margin: 0 0 12px;
			@include respond-to($sizeXS) {
				font-size: 28px;
			}
		}
		&__date {
			font-size: 18px;
			color: $color-gray;
		}
		&__soon {
			color: $color-blue;
			border: 2px solid;
			background: none;
		}
	}
	&__rating-table {
		overflow: hidden;
		border:2px solid;
		border-width: 4px 0 0 4px;
		font-size: 20px;
		color: $color-blue;
		margin: 0 0 60px;
		&__cell {
			box-sizing: border-box;
			float: left;
			width: 50%;
			border: 2px solid;
			border-width: 0 4px 4px 0;
			height: 250px;
			position: relative;
			@include respond-to($sizeMD) {
				float: inherit;
				width: 100%;
			}
			
			&__title {
				margin: 0;
				position: absolute;
				left: 35px;
				top: 35px;
				font-size: 1.2em;
				line-height: 1.2em;
			}
			&__info {
				position: absolute;
				left: 30px;
				bottom: 30px;
				font-size: 18px;

			}
			&__link {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: block;
				color: #000 !important;
				&:hover {
					background: $color-blue;
					color: #fff !important;
				}
			}
			@include respond-to($sizeSM) {
				height: 100%;
				&__link,
				&__info,
				&__title {
					position: static;
				}	
				&__link {
					padding: 30px;
					box-sizing: border-box;
				}
				&__title {
					display: block;
					margin: 0 0 70px;
				}
			}
			@include respond-to($sizeXS) {	
				&__link {
					padding: 10px;
					box-sizing: border-box;
				}
				&__title {
					font-size: 20px;
				}
			}
		}
	}

}