.b-search-params {

}

  .b-search-params__option {
    padding-top: 5px;

  }

  .b-search-params__option,
  .b-search-params__value {
    vertical-align: top;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  .b-search-params__action {
    padding-top: 10px;

  }

