html {
	height: 100%;
}

body {
	font-size: 18px;
	font-family: Helvetica, Arial;
	color: #000;
	background: #fff;
	height: 100%;
}


._align_center {
	text-align: center;
}


.grid {
	@include clearfix;
	margin: -20px -10px;
}



.grid-col {
	@include clearfix;
	float: left;
	vertical-align: top;
	margin: 0 10px;

	&.grid-col--single {
		margin: 0;
		width: 100%;
	}

	&.grid-col--2x {
		width: 620px;
	}
}


.grid-item {
	display: block;
	height: 139px;
	width: 300px;
	border-bottom: 1px solid #E9E9E9;
	margin: 20px 0;
	text-decoration: none;
	position: relative;

	&.grid-item--2x {
		height: 299px;
		background: #F6F9F9;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}

	&.grid-item--3x {
		height: 459px;
		background: #F6F9F9;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}

	&.grid-item--2y {
		width: 100%;
		background: #F6F9F9;
		border-bottom: 0;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}


	&.grid-item--3y {
		width: 100%;
		background: #F6F9F9;

		.grid-item__wrap {
			position: absolute;
			z-index: 1;
			bottom: 16px;
			left: 16px;
			right: 16px;
		}
	}

	&.grid-item--photo {

		.grid-item__wrap {
			width: 322px;
			left: auto;
			right: 0;
			top: 0;
			height: 100%;
			background: #202737;
			padding: 16px;
			box-sizing: border-box;
		}

		.grid-item__name {
			color: #fff;
			font-size: 22px;
			margin-bottom: 20px;
		}

		.grid-item__intro {
			color: #fff;
		}

		.button-more {
			position: absolute;
			bottom: 0px;
			left: 20px;
		}
	}
}
	.grid-item__label {
		font-size: 12px;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		background: #009C80;
		padding: 5px 13px 4px 13px;
		height: 23px;
		box-sizing: border-box;

		&:after {
			position: absolute;
			left: 100%;
			top: 0;
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 23px 12px 0 0;
			border-color: #009C80 transparent transparent transparent;
		}
	}

	.grid-item__wrap {
		text-decoration: none;
	}

	.grid-item__date {
		font-size: 14px;
		color: #B6B6B6;
		display: block;
		margin-bottom: 10px;
		text-decoration: none;
	}

	.grid-item__name {
		font-size: 18px;
		color: #000;
		display: block;
		line-height: 130%;
		text-decoration: none;
	}

	.grid-item__intro {
		font-size: 16px;
		color: #727272;
		display: block;
		margin-top: 10px;
		line-height: 130%;
		text-decoration: none;
	}

	.grid-item__photo {
		display: block;
		margin: 0 auto 30px auto;
		width: 160px;
		height: 160px;
		border-radius: 50% 50% 50% 0;
		background: #ccc;
		text-decoration: none;
	}



.mos-med-head {
	border-bottom: 1px solid #202737;
	margin-bottom: 30px;
}

	.mos-med-head__logo {
		font-size: 58px;
		color: #202737;
		text-decoration: none;
		margin-bottom: 5px;
		display: block;
	}


.mos-head-menu {
	margin: 15px 0 10px 0;
}

	.mos-head-menu__item {
		font-size: 13px;
		text-decoration: none;
		margin-right: 10px;
		letter-spacing: 1px;
	}



.soc-icons {
	a {
		color: #ccc;
		font-size: 12px;
		width: 20px;
		height: 20px;
		display: inline-block;
		border: 2px solid #ccc;
		border-radius: 50%;
		text-align: center;
		line-height: 20px;
	}
}





.interviews {
	background: #F6F9F9;
	position: relative;
	margin: 30px 0;

	.grid-item {
		border-bottom: 0;
	}
}



.button-more {
	height: 50px;
	border: 3px solid #009C80;
	display: inline-block;
	width: 280px;
	color: #009C80;
	text-align: center;
	line-height: 44px;
	text-decoration: none;
	font-size: 18px;
	border-radius: 50px;
	margin: 25px auto;
	position: relative;
	box-sizing: border-box;

	.fa {
		font-size: 32px;
		position: absolute;
		right: 9px;
		top: 7px;
	}
}



.head-menu {
	height: 42px;
	line-height: 42px;
	background: #202737;
	margin-bottom: 25px;

	a {
		color: #fff;
		font-size: 15px;
		text-decoration: none;
		display: inline-block;
		margin: 0 5px;

		&:hover {
			text-decoration: underline;
		}
	}
}