@mixin rotate($rotation:180)
{
	$degs: #{$rotation}deg;
	$degs-ie: $rotation / 90;

	transform: rotate($degs);
	filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$degs-ie})";
}


@mixin clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}