#top-link {
    display: none;
    position: fixed;
    right: 5px;
    bottom: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: #4174BC;
    padding: 10px;
    z-index: 5;
}