.article {
	// position: relative;
	// z-index: 5;

	p {
		width: 540px;
		margin: 40px 80px;
		line-height: 145%;
	}

	.photo-aside + p {
		margin: 20px 80px 40px 80px;
	}

	&.article--r {
		p {
			margin-left: 325px;
		}
	}
}


.article-cover {
	position: relative;
	z-index: 1;
	background: #333;
	margin-bottom: 50px;
	height: 100%;

	&.article-cover--video {
		height: 100%;
	}
}
	.article-cover__image {
		height: 100%;
		overflow: hidden;
		img {
			display: block;
			width: 100%;
		}
	}

	.article-cover__video {
		height: 100%;
		overflow: hidden;
		position: absolute;
		left: 0;
		width: 100%;
		background: url(/i/video-bg.jpg) no-repeat center bottom;
		background-size: cover;
		video {
			height: 100%;
			width: 100%;
			position: absolute;
			z-index: 1;
			display: block;
			bottom: 0;
			background-color: #000;
		}
	}

	.article-cover__copy {
		color: #fff;
		position: absolute;
		bottom: 70px;
		left: 50%;
		margin-left: -410px;
		font-size: 14px;
	}

	.article-cover__title {
		font-size: 72px;
		font-family: 'CirceBold', Helvetica, Arial;
		color: #002F86;
		background-color: #fff;
		position: absolute;
		z-index: 10;
		bottom: -40px;
		left: 50%;
		margin-left: -410px;
		padding: 0 40px 0 15px;
	}