.footer_ornam {
	height: 412px;
	background-image: url(/i/ornament-1.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}


.footer {
	background: #AC8900;
}

	.footer__text {
		font-size: 18px;
		text-align: center;
		padding-bottom: 80px;
	}