.menu {
	font-family: 'Circe', Helvetica, Arial;
	font-size: 18px;


	&.menu--intro {
		position: absolute;
		z-index: 50;
		left: 50%;
		top: 55px;
		margin-left: 245px;

		&:before {
			content: "";
			position: absolute;
			z-index: 1;
			width: 1px;
			top: 10px;
			bottom: 10px;
			left: 5px;
			background: #AB881C;
		}
	}

	&:hover {
		.menu__item {
			color: #AB881C;

			&.menu__item--active {
				color: #AB881C;
			}
		}
	}


	.menu__item {
		display: block;
		color: #EED142;
		text-decoration: none;
		transition: color .5s ease;
		position: relative;
		z-index: 5;

		& + .menu__item {
			margin-top: 18px;
		}

		&:before {
			content: "\f111";
			font-family: FontAwesome;
			font-size: 12px;
			vertical-align: 1px;
			margin: 0 16px 0 1px;
			color: #AB881C;
			transition: color .5s ease;
		}


		&.menu__item--active {
			color: #fff;

			&:before {
				color: #fff;
			}
		}

		&:hover {
			color: #fff;

			&.menu__item--active {
				color: #fff;
			}

			&:before {
				color: #fff;
			}
		}
	}
}