.photo-incut {
	background-color: #EBEAE3;
}
	.photo-incut__image {
		display: table-cell;
		vertical-align: top;
		padding-left: 78px;
		img {
			display: block;
		}
	}

	.photo-incut__text {
		display: table-cell;
		vertical-align: top;
		text-align: left;
		font-size: 16px;
		color: #AC8900;
		padding: 20px;
	}
		.photo-incut__text__copy {
			margin-top: 20px;
			font-size: 14px;
		}




.photo-aside {
	width: 297px;
	float: left;
}

	.photo-aside__text {
		font-size: 16px;
		color: #AC8900;
		margin-top: 20px;
	}

	.photo-aside__copy {
		font-size: 14px;
		color: #AC8900;
		margin-top: 20px;
	}



.photos {
	margin: 0 -10px;
	@include clearfix;
	img {
		float: left;
		margin: 10px;
	}
}